# Properties for eve

#Program Properties
shell_mode = true
test = false

#timing-DB
timing_db_file = Timing PIDs.xlsx

#Bot Properties
bot_token = ZWYwYWE4M2YtNGFjMC00ODRmLTk5NjgtZWI0N2VlZmZjYjU4ZGNmNWQwMWUtNDgw_PF84_1eb65fdf-9643-417f-9974-ad72cae0e10f
bot_email = eve-timing@webex.bot
bot_listen_port = 9000

#Not used
bot_id = Y2lzY29zcGFyazovL3VzL0FQUExJQ0FUSU9OLzY4MGJiZTIzLWY4NjAtNGVkNC1hYjY5LTZiZDFhNWQ2NjYwNw

# stats DB
# stats mode = file/mysql
stats_mode = file
stats_db_user = root
stats_db_pwd = Cisco@1234
stats_db_host = 127.0.0.1
stats_db_port = 3306
