# Properties for eve

#Program Properties
shell_mode = true

#Bot Properties
bot_token = MWU5ZGRmZmYtNDk4ZC00NTg1LWE0YmUtNTE2YjMyOWVhZGRjOWIxNmI2NmYtMGZj_PF84_1eb65fdf-9643-417f-9974-ad72cae0e10f
bot_email = maniktestbot@webex.bot
bot_listen_port = 9000

# stats DB
stats_db_user = root
stats_db_pwd = cisco@123
stats_db_host = 127.0.0.1
stats_db_port = 3306